

body {
  font-family: sans-serif;
  background: #e6e5e5 !important;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  scroll-behavior: smooth;
  letter-spacing: 0.1px;
}
* {
  box-sizing: border-box !important;
}

